#container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dirtBox{
  width: 600px;
  height: 600px;
  background-color: rgb(127, 204, 51);
  display: flew;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 10px solid darkgreen;
}

.row{
  width:100%;
  height:33%;
  margin-top:4%;
  display:flex;
  justify-content: space-around;
}

#mole{
  width:80px;
  height:80px;
  border-radius:50%;
  background-color: grey;
}

.dirt{
  width:80px;
  height:80px;
  border-radius:50%;
  background-color: rgb(205, 130, 63);
  border: 10px solid rgb(139,69,10);
}